body{
    background: whitesmoke;
}

h1{
    text-align: center;

}

form{
   
    margin: 40px auto;
    background: white;
    padding: 10px;

}

input,button{
    display: block;
    margin: 10px auto;
    padding: 4px;
}

